@model IEnumerable<Otel.DAL.DataContext.Entities.Room>

<div class="treatment_section">
    <div class="container">
        <h1 class="treatment_taital">Our Rooms</h1>
        <p class="text-center" style="color: #6d6d6d; font-size: 16px; margin-top: 20px; margin-bottom: 0;">
            Choose from a variety of room types to find the perfect stay. Each room is equipped for comfort and style.
        </p>

        <div class="treatment_section_2">
            <div class="row" id="room-container">
            </div>
        </div>

        <div class="text-center mt-4">
            <button id="loadMoreBtn" class="btn btn-primary">Load More</button>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        let skip = 0;
        const take = 2;

        function loadRooms() {
            $.get('@Url.Action("LoadMore", "Room")', { skip: skip, take: take }, function (data) {
                if (data.trim() === '') {
                    $('#loadMoreBtn').hide();
                } else {
                    $('#room-container').append(data);
                    skip += take;
                }
            });
        }

        $(document).ready(function () {
            loadRooms();

            $('#loadMoreBtn').click(function () {
                loadRooms();
            });
        });
    </script>
    <style>
        .treatment_section {
            padding-top: 100px; 
        }
    </style>
 
}
