@model RegisterViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/register.css">
    <title>Register</title>
</head>
<body>
    <div class="wrapper">
        <form method="post">
            @Html.AntiForgeryToken()

            <h1>Register</h1>

            <div class="input-box">
                <input asp-for="UserName" placeholder="UserName" required />
                <span asp-validation-for="UserName"></span>
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input asp-for="Email" placeholder="Email" required />
                <span asp-validation-for="Email"></span>
                <i class='bx bxs-envelope'></i>
            </div>
            <div class="input-box">
                <input asp-for="Password" placeholder="Password" required />
                <span asp-validation-for="Password"></span>
                <i class='bx bxs-lock-alt'></i>
            </div>
            <div class="input-box">
                <input asp-for="ConfirmPassword" placeholder="Confirm Password" required />
                <span asp-validation-for="ConfirmPassword"></span>
                <i class='bx bxs-lock-alt'></i>
            </div>

            <div asp-validation-summary="ModelOnly"></div>

            <button type="submit" class="btn">Register</button>

            <div class="login-link">
                <p>Already have an account? <a asp-controller="Account" asp-action="Login">Login</a></p>
            </div>
        </form>
    </div>
</body>
</html>