@model Otel.DAL.DataContext.Entities.Customer
@{
    ViewData["Title"] = "Customer Details";
}

<h2>Customer Details</h2>

<dl class="row">
    <dt class="col-sm-2">Full Name</dt>
    <dd class="col-sm-10">@Model.FullName</dd>

    <dt class="col-sm-2">Email</dt>
    <dd class="col-sm-10">@Model.Email</dd>

    <dt class="col-sm-2">Phone</dt>
    <dd class="col-sm-10">@Model.PhoneNumber</dd>
</dl>

<a asp-action="Index" class="btn btn-secondary">Back</a>
