@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/error.css" />

<div class="error-wrapper">
    <div class="error-card">
        <div class="error-code">401</div>
        <div class="error-message">You must be logged in to access this page.</div>
        <div class="error-actions">
            <a asp-controller="Home" asp-action="Index" class="btn btn-home">Go Home</a>
            <a asp-controller="Account" asp-action="Login" class="btn btn-login">Login</a>
        </div>
    </div>
</div>