﻿@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/error.css" />

<div class="error-container">
    <div class="error-code">404</div>
    <div class="error-message">The page you are looking for could not be found.</div>
    <div class="error-actions">
        <a asp-controller="Home" asp-action="Index" class="btn-home">Go Home</a>
    </div>
</div>